!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatApp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:charset => "utf-8"}/
  %body
    - flash.each do |message_type, message|
      %div{:class => "alert alert-#{message_type} animatedDelay fadeOutUp"}= message
    = render 'layouts/header'
    = yield
